.games-container-grid {
  display: Grid;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 35px;
  justify-content: center;
}
.game-thumbnail-image {
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}
.game-thumbnail-image:hover {
  box-shadow: 2px 2px 10px 5px #103584;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px);
}
.scrollbar {
  overflow-y: scroll;
  scrollbar-color: #057af0 #151515;
  scrollbar-width: thin;
}
body {
  background: #000;
  background: linear-gradient(180deg, #000 34%, #07223d 100%);
  padding-bottom: 1000px;
  padding-top: 250px;
}
