@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

// Acts as global var, ex. color scheme
:root {
  --primary-color: royalblue;
  --secondary-color: #68e1fd;
}
body {
  background-color: #f2f2f2;
  color: white;
  margin: 0;
  font-size: 1.5vw;
  font-family: "Popppins", Arial, Helvetica, sans-serif;
}

nav{display: none;}
.navbar {
  background: white;
  padding: 1em;

  .nav-primary {
    display: flex;
    li {
      margin: 1em;
    }
  }

  .navbar-homepage-title {
    text-decoration: none;
    font-weight: bold;
    font-size: 2vw;
    color: black;

    #title-ghost {
      color: var(--primary-color);
    }
  }
}

.hero {
  background-color: #0e0e0e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(355,960,459)'%3E%3Cstop offset='0' stop-color='%230E0E0E'/%3E%3Cstop offset='1' stop-color='%232068AF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='2000' height='1666.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  .subcontainer {
    justify-content: center;
    padding: 10px;
    text-align: center;
    font-family: "Poppins";
    margin-bottom: 2em;

    p {
      font-weight: bold;
      color: gray;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    h1 {
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
    .features-top {
      text-align: center;
      list-style-type: none;
      padding: 0;
    }

    .download-app-button {
      text-decoration: none;
      font-family: "Poppins";
      font-weight: bold;
      background-color: var(--primary-color);
      border-radius: 5px;
      color: white;

      padding: 0.5em;

      &:hover {
        background-color: rgba(6, 220, 232, 0.859);
        box-shadow: 2px 2px 5px black;
      }
    }
  }

  .security-image-container {
    text-align: center;
  }
  .subcontainer-security-img {
    width: 120%;
  }
}

.features-section {
  display: flex;
  justify-content: center;
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );

  .container {
    text-align: start;
    display: flex;

    ul.features-list-secondary {
      list-style: none;
      font-family: "Poppins";
      font-weight: bold;

      li {
        margin-top: 10px;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          background-image: url("Thumbnails/confirm.svg");
          margin-left: -3em;
          margin-top: 5px;
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

.plans {
  display: flex;
  justify-content: center;

  .container {
    ul {
      display: inline-flex;
      list-style: none;

      li {
        display: flex;
        justify-content: space-between;
        margin: 20px;

        .plans-cards {
          display: flexbox;
          text-align: center;
          color: white;
          padding: 2em;
          font-family: "Poppins";
          border-radius: 10px;
          font-weight: bold;
          border-style: none;
          border-width: 0;
          width: 100%;
          transition: border-width 0.05s;
          background-color: #ff9a8b;
          background-image: linear-gradient(
            90deg,
            #ff9a8b 0%,
            #ff6a88 55%,
            #ff99ac 100%
          );

          &:hover {
            box-shadow: 1px 1px 20px rgba(56, 60, 67, 0.412);
            border-width: 3px;
            border-style: solid;
          }

          h5 {
            font-size: 1em;
          }
        }
      }
    }
  }
}
